<div id="wrapper">
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>
    <router-outlet></router-outlet>
    <div id="modal-options" data-izimodal-group="group1" data-izimodal-loop="" data-izimodal-title="オプション設定モーダル" data-izimodal-subtitle="サブタイトル">
        <p>このモーダルはオプション設定をしています<br>iframeモーダルとグループ設定しています</p>
    </div>
    <div id="modal-default">
        <div class="close">
            <a data-izimodal-close="">×</a>
        </div>
        <p>このモーダルはデフォルト設定です</p>
    </div>
    <div id="modal-alert" data-izimodal-title="Hello" data-izimodal-subtitle="Welldone">
    </div>
    <div id="modal-iframe" data-izimodal-group="group1"></div>
</div>
